/* @import url("https://unpkg.com/carbon-components@latest/css/carbon-components.min.css"); */

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Form section */
.formSection {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.logoIcon {
  margin-right: 0.5rem;
}

.logoText {
  font-weight: 600;
  font-size: 1.25rem;
}

.formContainer {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formTitle {
  font-size: 2.5rem;
  font-weight: 500;
  color: #000;
}

.formSubTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #000;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputLabel {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #444;
}

.textInput {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  border-bottom: 2px solid #8D8D8D;
  background-color: #e8e8e8;
  color: #000;
  border-radius: 0;
  font-size: 0.875rem;
}

#text-input-1 {
  border: none;
  background-color: #ffffff00;
}

.passwordContainer {
  position: relative;
}

.passwordToggle {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 0.5rem;
}

.checkboxLabel {
  font-size: 0.875rem;
  color: #444;
}

.forgotPassword {
  font-size: 0.875rem;
  color: #0f62fe;
  text-decoration: underline;
}

.loginButton {
  width: 100%;
  background-color: #000;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton:hover {
  background-color: #333;
}

/* Image section */
.imageSection {
  flex: 1;
  background-image: url(/image-3.jpg);
  /* background-position: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: baseline;
  padding: 2rem;
  position: relative;
  margin: 1rem;
  border-radius: 0px 20px 20px 0;
}

.imageContent {
  max-width: 500px;
  color: #000;
}

.imageTitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.imageText {
  font-size: 1rem;
  line-height: 1.5;
}

/* Responsive styling */
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  
  .formSection {
    width: 100%;
  }
  
  .imageSection {
    width: 100%;
    min-height: 300px;
  }
}

@media (max-width: 480px) {
  .formFooter {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .imageTitle {
    font-size: 2rem;
  }
}

/* ====================================================================================================== */
